@model Proveedor

@{
}
<center>
    <h1>Registro No Eliminado porque tiene dependencia en la tabla producto</h1>

    <p>

    </p>

    <a class="btn btn-primary" asp-controller="Home" asp-action="Ver_proveedor">Volver a Lista</a>
</center>
