@{
    ViewData["Title"] = "Home Page";
}

<center><h1>CRUD_MiniDB</h1></center>
<p>

</p>
<center><a class="btn btn-success" asp-controller="Home" asp-action="Ver_proveedor">Empezar el crud</a></center>