@model Producto

@{
}
<h1>Lista_producto</h1>

<a asp-area="" asp-controller="Home" asp-action="Agregar_producto">Agregar</a>
<a asp-area="" asp-controller="Home" asp-action="Actualizar_producto">Actualizar</a>
<a asp-area="" asp-controller="Home" asp-action="Eliminar_producto">Eliminar</a>